---
// src/components/footer.astro
---

<footer class="text-white py-5 text-center" style="background: linear-gradient(135deg, var(--azul-bienestar) 0%, #002b5e 100%);">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 mb-3 mb-md-0">
            <p class="mb-0 fs-5 fw-bold">Bienestar Integral © 2026</p>
            <p class="mb-0 text-light">Tu salud no es un gasto, es una inversión.</p>
        </div>
        <div class="col-md-6 border-start border-light border-opacity-25">
            <!-- <p class="mb-1">Contacto: correo@bienestarintegral.com</p> -->
            <p class="mb-0 small text-light">Desarrollado por <br>
              <a href="https://danzutech.netlify.app/" target="_blank" class="text-info fw-bold text-decoration-none">
                Danzu Tech Solutions
              </a>
            </p>
        </div>
    </div>
  </div>
</footer>